.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/loginjuego.appspot.com/o/hdfeder.webp?alt=media&token=e4882456-b8f9-496c-b39d-7ba2a0a00b1d');
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 40% 20%
}